{% extends 'base.html' %}
{% load extra_tags %}
{% load static %}
{% comment %}

{% endcomment %}

{% block title %}
  Response
{% endblock %}

{% block style %}
  {% comment %}! how use updated css: use?v2{% endcomment %}
  <link rel="stylesheet" href="{% static 'style/table.css' %}?v=2" />
{% endblock %}


{% block header %}
  {% include 'tempt/navbar.html' %}
{% endblock header %}
  

{% block main %}

  {{ date|date:'M D Y h s' }}
  {{ name|join:'--' }}
  <br>

  
  {% for nm in  name %}
    
    {{ nm | print_name}} <br>
   
  {% empty %}
    <p>therein no list</p>
  {% endfor %}
    
  <br>
  <br>
  {{ developer }}
  
  
  {% for enu in  stu %}
    {{ enu.gender }} <br>
  {% endfor %}
    
{% endblock %}
